@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Readex Pro', sans-serif;
    line-height: 1.9em;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

body {

    background-color: #131415;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

nav a {
    color: #adb0b1;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-weight: 500;
}

#logo {
    width: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

#menu--container {
    display: flex;
}

#menu--container a {
    margin: 0 1em;
}

#github--logo {
    width: 60px;
}

.container--main {
    max-width: 800px;
    margin: 0 auto;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 4em;
}

.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

#banner-pic {
    box-sizing: content-box;
    width: 170px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.youtube {
    color: red;
}

#user-name {
    font-size: 48px;
    line-height: 0;
}

#bio,
a {
    font-size: 16px;
    font-weight: 300;
}

p,
li {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}

h1 {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card--container {
    width: 100%;
    max-width: 800px;
    display: flex;

}

.card {
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

.img--card {
    max-width: 100%;
    height: auto;
    align-items: center;
    object-fit: cover;
}

.img--card-1 {
    margin-top: 1.5rem;
    margin-left: 0.8rem;
    width: 90%;
    height: auto;
}

.card--contenido {
    padding: 15px;
    text-align: center;
}

.card--contenido h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.card--contenido p {
    line-height: 2em;
    color: #adb0b1;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.img--web {
    width: 100%;
    height: 560px;
    object-fit: cover;
}

.card--app {
    display: flex;
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
}

.card--app img:hover {
    box-shadow: 5px 5px 20px rgba(8, 8, 8, 0.2);
    transform: scale(1.05);
}

.card--app img {
    width: 35%;
    padding: 0.5rem;
    height: auto;
    object-fit: cover;

}

.footer--container {

    text-align: center;
}

.footer--container .footer--one {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 45px 0px;
}

.footer--container .footer--one .box img {
    margin-top: 3rem;
    margin-left: 4rem;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#redes--sociales {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2em;
}

#redes--sociales a:hover {
    color: rgb(227, 43, 43);
    font-size: 20px;
}

small {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

@media(max-width:600px) {
    .container--main {
        padding: 1em;
        text-align: center;
    }

    #wrapper--hero {
        display: flex;
        align-items: center;
        gap: 1em;
        flex-direction: column;
    }

    #github--logo {
        display: none;
    }

    #banner-pic {
        width: 200px;
        height: 200px;
    }

    .img--web {
        width: 100%;
        height: 310px;
        object-fit: cover;
    }

    .card--container {
        width: 100%;
        max-width: 400px;
        flex-direction: column;
        text-align: center;
    }

    .img--card {
        max-width: 100%;
        height: auto;
        margin-bottom: -2.2rem;
        align-items: center;
        object-fit: cover;
    }

    .img--card-1 {
        margin-bottom: -2.2rem;
        width: 60%;
        height: auto;
    }

    .card--app {
        flex-direction: column;
        width: 100%;
        margin: 10px;
        border-radius: 6px;
        overflow: hidden;
        cursor: default;
        transition: all 400ms ease;
    }

    .card--app img:hover {
        box-shadow: 5px 5px 20px rgba(8, 8, 8, 0.2);
        transform: scale(1.05);
    }

    .card--app img {
        margin: 10px;
        width: 100%;
        padding: 0.5rem;
        height: auto;
        object-fit: cover;

    }

    .footer--container .footer--one {
        margin-top: -3rem;
        width: 90%;
        max-width: 800px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        padding: 35px 0px;
    }

    .footer--container .footer--one .box img {
        margin-left: 8rem;
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}